## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

2023-08-31 15:34:20.430926: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head(10)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
10,T3,Independent,C1200,Preservation,Trust,1,25000-99999,N,69656,0
11,T3,Independent,C2000,Preservation,Trust,1,100000-499999,N,165593,0
12,T3,CompanySponsored,C1200,Preservation,Association,1,0,N,5000,1
13,T3,Independent,C2700,Preservation,Trust,1,25000-99999,N,5301,1
14,T3,Independent,C1000,Preservation,Trust,1,0,N,5000,1
15,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
16,T3,Independent,C2000,Preservation,Trust,1,0,N,5000,1
17,T3,Independent,C1000,Heathcare,Trust,1,50M+,N,86380556,0
18,T3,CompanySponsored,C1000,Preservation,Trust,1,0,N,5000,0
19,T3,CompanySponsored,C1000,Preservation,Trust,1,100000-499999,N,376109,0

In [2]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# Look at APPLICATION_TYPE value counts for binning
app_type_count = application_df['APPLICATION_TYPE'].value_counts()
app_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_count[app_type_count < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
class_val_count = application_df['CLASSIFICATION'].value_counts()
class_val_count.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_type = class_val_count.loc[class_val_count > 1]
class_type.head(10)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_val_count[class_val_count < 500].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
num_dummies = pd.get_dummies(application_df)
num_dummies.head(5)

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,1,108590,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,1,6692,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,1,142590,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
num_dummies.tail(5)

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,996009318,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,996010315,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,996012607,1,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,996015768,1,5000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,996086871,1,36500179,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [18]:
# Split our preprocessed data into our features and target arrays
Y = num_dummies['IS_SUCCESSFUL'].values
X = num_dummies.drop(columns = 'IS_SUCCESSFUL').values

In [20]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, Y_train, Y_test = train_test_split( X, Y, random_state = 1, stratify = Y, test_size = .2)

In [21]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_total = len(X_train[0])
hn_1 = 9
hn_2 = 18

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hn_1, input_dim = input_features_total, activation = "relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hn_2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 176526

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 176725 (690.33 KB)
Trainable params: 176725 (690.33 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled, Y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 6s 5ms/step - loss: 0.6918 - accuracy: 0.5910
Epoch 2/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6530 - accuracy: 0.7848
Epoch 3/100
858/858 [==============================] - 4s 5ms/step - loss: 0.6012 - accuracy: 0.7907
Epoch 4/100
858/858 [==============================] - 4s 5ms/step - loss: 0.5419 - accuracy: 0.8014
Epoch 5/100
858/858 [==============================] - 3s 4ms/step - loss: 0.4738 - accuracy: 0.8345
Epoch 6/100
858/858 [==============================] - 3s 4ms/step - loss: 0.3837 - accuracy: 0.8865
Epoch 7/100
858/858 [==============================] - 3s 4ms/step - loss: 0.3041 - accuracy: 0.9211
Epoch 8/100
858/858 [==============================] - 3s 4ms/step - loss: 0.2335 - accuracy: 0.9480
Epoch 9/100
858/858 [==============================] - 3s 4ms/step - loss: 0.2023 - accuracy: 0.9521
Epoch 10/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1713 - accuracy: 0.9585
Epoch 11/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1528 - accuracy: 0.9606
Epoch 12/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1412 - accuracy: 0.9617
Epoch 13/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1326 - accuracy: 0.9612
Epoch 14/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1254 - accuracy: 0.9605
Epoch 15/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1207 - accuracy: 0.9608
Epoch 16/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1178 - accuracy: 0.9614
Epoch 17/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1146 - accuracy: 0.9616
Epoch 18/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1114 - accuracy: 0.9620
Epoch 19/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1081 - accuracy: 0.9622
Epoch 20/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1073 - accuracy: 0.9625
Epoch 21/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1063 - accuracy: 0.9620
Epoch 22/100
858/858 [==============================] - 4s 4ms/step - loss: 0.1051 - accuracy: 0.9620
Epoch 23/100
858/858 [==============================] - 4s 4ms/step - loss: 0.1037 - accuracy: 0.9621
Epoch 24/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1031 - accuracy: 0.9627
Epoch 25/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1029 - accuracy: 0.9616
Epoch 26/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1027 - accuracy: 0.9612
Epoch 27/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1004 - accuracy: 0.9622
Epoch 28/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1000 - accuracy: 0.9626
Epoch 29/100
858/858 [==============================] - 3s 4ms/step - loss: 0.1009 - accuracy: 0.9618
Epoch 30/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0996 - accuracy: 0.9629
Epoch 31/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0993 - accuracy: 0.9620
Epoch 32/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0981 - accuracy: 0.9626
Epoch 33/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0977 - accuracy: 0.9627
Epoch 34/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0983 - accuracy: 0.9622
Epoch 35/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0974 - accuracy: 0.9627
Epoch 36/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0969 - accuracy: 0.9626
Epoch 37/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0963 - accuracy: 0.9626
Epoch 38/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0967 - accuracy: 0.9628
Epoch 39/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0972 - accuracy: 0.9620
Epoch 40/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0957 - accuracy: 0.9627
Epoch 41/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0954 - accuracy: 0.9628
Epoch 42/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0962 - accuracy: 0.9633
Epoch 43/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0950 - accuracy: 0.9636
Epoch 44/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0950 - accuracy: 0.9632
Epoch 45/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0954 - accuracy: 0.9634
Epoch 46/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0948 - accuracy: 0.9631
Epoch 47/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0950 - accuracy: 0.9626
Epoch 48/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0941 - accuracy: 0.9631
Epoch 49/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0941 - accuracy: 0.9633
Epoch 50/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0944 - accuracy: 0.9628
Epoch 51/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0941 - accuracy: 0.9638
Epoch 52/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0937 - accuracy: 0.9632
Epoch 53/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0930 - accuracy: 0.9637
Epoch 54/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0936 - accuracy: 0.9633
Epoch 55/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0930 - accuracy: 0.9635
Epoch 56/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0942 - accuracy: 0.9630
Epoch 57/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0940 - accuracy: 0.9633
Epoch 58/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0940 - accuracy: 0.9633
Epoch 59/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0941 - accuracy: 0.9628
Epoch 60/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0929 - accuracy: 0.9628
Epoch 61/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0928 - accuracy: 0.9638
Epoch 62/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0924 - accuracy: 0.9631
Epoch 63/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0930 - accuracy: 0.9625
Epoch 64/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0929 - accuracy: 0.9638
Epoch 65/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0928 - accuracy: 0.9630
Epoch 66/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0925 - accuracy: 0.9633
Epoch 67/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0924 - accuracy: 0.9637
Epoch 68/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0924 - accuracy: 0.9636
Epoch 69/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0919 - accuracy: 0.9638
Epoch 70/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0926 - accuracy: 0.9635
Epoch 71/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0916 - accuracy: 0.9633
Epoch 72/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0922 - accuracy: 0.9641
Epoch 73/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0916 - accuracy: 0.9637
Epoch 74/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0921 - accuracy: 0.9636
Epoch 75/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0911 - accuracy: 0.9632
Epoch 76/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0914 - accuracy: 0.9645
Epoch 77/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0913 - accuracy: 0.9636
Epoch 78/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0913 - accuracy: 0.9640
Epoch 79/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9641
Epoch 80/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0912 - accuracy: 0.9637
Epoch 81/100
858/858 [==============================] - 4s 4ms/step - loss: 0.0910 - accuracy: 0.9634
Epoch 82/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0914 - accuracy: 0.9646
Epoch 83/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9643
Epoch 84/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0912 - accuracy: 0.9642
Epoch 85/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0911 - accuracy: 0.9642
Epoch 86/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0916 - accuracy: 0.9641
Epoch 87/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0909 - accuracy: 0.9638
Epoch 88/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0915 - accuracy: 0.9633
Epoch 89/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0921 - accuracy: 0.9634
Epoch 90/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0911 - accuracy: 0.9640
Epoch 91/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0907 - accuracy: 0.9641
Epoch 92/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9643
Epoch 93/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0914 - accuracy: 0.9642
Epoch 94/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0910 - accuracy: 0.9642
Epoch 95/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0913 - accuracy: 0.9641
Epoch 96/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9639
Epoch 97/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9643
Epoch 98/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9642
Epoch 99/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0912 - accuracy: 0.9637
Epoch 100/100
858/858 [==============================] - 3s 4ms/step - loss: 0.0908 - accuracy: 0.9642

In [30]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5919 - accuracy: 0.6337 - 650ms/epoch - 3ms/step
Loss: 0.5919411182403564, Accuracy: 0.6336734890937805

In [32]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')